<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SysRemarkMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.SysRemark">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="bikeId" column="bike_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="created" column="created" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,bike_id,user_id,
        content,created,is_deleted
    </sql>
    <select id="getRemarksByBikeId" resultType="com.example.entity.SysRemark">
        select *
        from sys_remark
        where bike_id = #{id}
    </select>
</mapper>
